<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quản lí nhân viên</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" style="text/css" href="stypesgthem.css"/>
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="css/wave/waves.min.css">
    <link rel="stylesheet" href="css/wave/button.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="css/notika-custom-icon.css">
    <!-- Data Table JS
        ============================================ -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="public/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
     <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><img src="img/logo/logo2.PNG" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-search"></i></span></a>
                                <div role="menu" class="dropdown-menu search-dd animated flipInX">
                                    <div class="search-input">
                                        <i class="notika-icon notika-left-arrow"></i>
                                        <input type="text" />
                                    </div>
                                </div>
                            </li>
                           
                           
                              
                             <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-menus"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd task-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Tài khoản</h2>
                                    </div>
                                    <div class="search-people">
                                        <i class="notika-icon notika-left-arrow"></i>
                                        <input type="text" placeholder="Search People" />
                                    </div>
                                    <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Last seen 3 hours ago</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/4.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Last seen 2 minutes ago</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu start -->
   
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12=4 col-xs-14">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a data-toggle="tab" style="background:#C2F3EF;" href="#Home"><i class="notika-icon notika-house"></i> Quản lí nhân viên </a>
                        </li>
                     
                    </ul>
                    <div class="tab-content custom-menu-content">
                        
                        
                        <div id="Charts" class="tab-pane notika-tab-menu-bg animated flipInX" >
                            <ul class="notika-main-menu-dropdown" style="background: #3064F1">
                                <li><a href="flot-charts.html">Danh sách thông tin</a>
                                </li>
                               
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
	<center> <div id="myform" class="main-content" style="background-color:#A2EAF3; width:1400px; height: 450px">
                
                                    <div class="card-header"  >
                                        <strong>Thêm tài khoản</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" enctype=" application/x-www-form-urlencoded" class="form-horizontal">
                                            
                                               <div class="row form-group">
                                                
                                                 <div class="col col-md-3">
                                                        <label for="name_input" class=" form-control-label">fullname</label>
                                                    </div>
                                        			 <div 
                                                    class="col-12 col-md-9">
                                     <input type ="text" id="name" name="txtHoTen"  placeholder="Họ tên"
                                                   class="form-control" required>
                                                    </div>
                                            </div>
                                             <div class="row form-group">
                                                
                                                 <div class="col col-md-3">
                                                        <label for="name_input" class=" form-control-label">email</label>
                                                    </div>
                                                     <div 
                                                    class="col-12 col-md-9">
                                     <input type ="text" id="amounts" name="txtEmail"  placeholder="Email"
                                                   class="form-control" required>
                                                    </div>
                                            </div>
                                             
                                                  
                                           <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="status_input" class=" form-control-label">identifycard</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="text" id="status" name="txtCMND"
                                                        class="form-control" placeholder="Số CMND" required>
                                                    </div>
                                                </div>
                                                 
                                               <br>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="borrowed_day_input" class=" form-control-label">birthday</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="date" id="borrowed_day" name="dateNgaySinh" class="form-control" required>
                                                </div>
                                            </div>
                                        
                                        <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="card_num_input" class=" form-control-label">idaccount</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="card_num" name="txtMaAccount" 
                                                    placeholder="Nhập mã" class="form-control" required>
                                                </div>
                                            </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm" name="btnThem"value="Them"/>
                                                <i class="fa fa-subway"></i> Hoàn tất
                                                 </button>
                                        </div> 
                                    </form>
                                </div>
                         </div>
                         </center>

<div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018 
. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
        ============================================ -->
    <script src="public/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="public/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="public/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="public/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="public/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="public/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="public/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="public/js/counterup/jquery.counterup.min.js"></script>
    <script src="public/js/counterup/waypoints.min.js"></script>
    <script src="public/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="public/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="public/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="public/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="public/js/flot/jquery.flot.js"></script>
    <script src="public/js/flot/jquery.flot.resize.js"></script>
    <script src="public/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="public/js/knob/jquery.knob.js"></script>
    <script src="public/js/knob/jquery.appear.js"></script>
    <script src="public/js/knob/knob-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="public/js/chat/jquery.chat.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="public/js/todo/jquery.todo.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="public/js/wave/waves.min.js"></script>
    <script src="public/js/wave/wave-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="public/js/plugins.js"></script>
    <!-- Data Table JS
        ============================================ -->
    <script src="public/js/data-table/jquery.dataTables.min.js"></script>
    <script src="public/js/data-table/data-table-act.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="public/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="public/js/tawk-chat.js"></script>
</body>

</html>